@import url(reset.css);
body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #fff;
    background: rgb(20,19,19);  
    background: linear-gradient(25deg, rgba(20,19,19,1) 0%, rgba(86,81,81,1) 100%)no-repeat top center /cover;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
header {
    
    padding-top: 76px;
}
.navigation {
    display: flex;
}
.bars i {
    font-size: 24px;
}
.search i {
    color: #F1C935;
    font-size: 18px;
    padding-right: 22px;
}
.search {
    margin-left: 128px;
}
.backet {
    margin-left: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backet_kst {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background:#F1C935;
    color: #000;
    font-weight: 900;
    text-align: center;
    line-height: 24px;
}
.user {
    margin-left: auto;
}
.offer {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 148px;  
}
.offer_text h1 {
    font-size: 38px;
}
.offer_text h1 span {
    color: #D3AF2C;
    font-weight: 900;
}
.offer_text p {
    width: 660px;
    font-size: 22px;
    margin-top: 90px;
    line-height: 1.23em;
}
.offer_btn {
    display: flex;
}
.btn {
    margin-top: 208px;
    display: block;
    width: 216px;
    border: 1px solid #F1C935;
    margin-right: 30px;
    border-radius: 50px;
    text-align: center;
    padding: 15px 44px;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #F1C935;
    color: #000;
    transition: all 0.3s ease;
}
.offer_img  img{
    width: 405px;
    height: 780px;
}
.offer_start {
    margin-top: 93px;
}
.social i {
    padding-right: 68px;
    font-size: 24px;
    margin-top: 65px;
    margin-bottom: 65px;
    transition: all 0.3s ease;
}
.social i:hover {
    color:#F1C935;
    transition: all 0.3s ease;
}